/* styles.css */

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
header {
    background-color: #5cb85c;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1rem;
}

/* styles.css */

/* Reset default margin and padding for the navigation */
nav {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Style the navigation menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/* Style the navigation links */
nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    padding: 10px 20px; /* Padding for the links */
    color: #fff; /* Text color */
    text-decoration: none;
}

/* Change link color on hover */
nav ul li a:hover {
    background-color: #555; /* Hover background color */
}


/* Main content styles */
main {
    padding: 20px;
}

section {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #5cb85c;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

h3 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Footer styles */
footer {
    background-color: #5cb85c;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.contact-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.contact-items li {
    margin: 0 10px;
}

/* For mobile devices */
@media screen and (max-width: 600px) {
    h1 {
        display: none;
    }

    nav {
        justify-content: space-around;
    }
}